.menu-heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #3a1a1adb;
  text-align: center;
}
.container{
  background-image: url('https://i.pinimg.com/1200x/c5/92/de/c592de3f71b7807d9e81d3b5bd4ab024.jpg');
background-size: cover;
object-fit: cover;
background-position: center;
  padding: 40px;
  min-height: 100vh;
  z-index: -1;
   width: 100%;
}
.category-title {
  font-family: 'Segoe Script',cursive;
  font-size: 34px;
  margin-top: 30px;
  color: #331a0b;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-card {
  background: #fff8f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.menu-card h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.menu-card p {
  margin: 5px 0;
  font-weight: bold;
}

.button-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.btn {
  background-color: #5e4434;
  color: rgb(80, 40, 24);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: #ff914d;
  color: rgb(98, 47, 22);
  transform: scale(1.05);
}

.btn:active {
  background-color: #cf7d4a;
}


.menu-heading{
  font-family: 'Monotype Corsiva',cursive;
  font-size: 50px;
}
.menu-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fff8f0;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.menu-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-details {
  flex: 1;
}

