.menu-heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #6b4f4f;
  text-align: center;
}

.category-title {
  font-size: 22px;
  margin-top: 30px;
  color: #ff914d;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-card {
  background: #fff8f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.menu-card h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.menu-card p {
  margin: 5px 0;
  font-weight: bold;
}

.btn {
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  
}

.btn:hover {
  background-color: #ff914d;
  color: white;
   transition: 0.5s ease ;
   transform: scale(1.05);
}

.btn:active{
  background-color: #cf7d4a;
}